Options +FollowSymLinks
RewriteEngine On
RewriteCond %{REQUEST_URI} !(\.png|\.jpg|\.css|\.js)$
RewriteRule ^(.*)$ src/index.php [QSA]

ErrorDocument 400 400.html

ErrorDocument 403 403.html

ErrorDocument 404 404.html

Options -Indexes
