Options +FollowSymLinks
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^(.*)$ src/index.php [NC,L]

ErrorDocument 400 400.html

ErrorDocument 403 403.html

ErrorDocument 404 404.html

Options -Indexes
