body,html{
    height:100%;
    width:100%
}
button,input,input[type=text],textarea{
    -webkit-appearance:none
}
*,a:focus{
    outline:0
}
a,body{
    color:#343434
}
.m-lg_outer,.m-main_slider,.m-wrapper,body{
    position:relative
}
*{
    margin:0
}
footer,section{
    display:block
}
body,div,form,h2,h3,h4,p{
    padding:0
}
body{
    min-height:100%;
    max-width:100%;
    overflow-x:hidden;
    font:400 14px sans-serif;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    -ms-overflow-style:scrollbar;
    background:#fff;
    font-family:Poppins,"sans serif";
    line-height:22px;
    font-size:15px
}
img{
    border:0
}
input,textarea{
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    -webkit-border-radius:0;
    border-radius:0
}
button::-moz-focus-inner,input::-moz-focus-inner,textarea::-moz-focus-inner{
    padding:0;
    border:0
}
a,a[href^="tel:"]{
    text-decoration:none!important
}
a,button,span{
    text-decoration:none;
    -webkit-transition:color .4s,background .4s,border .4s,opacity .4s;
    -moz-transition:color .4s,background .4s,border .4s,opacity .4s;
    transition:color .4s,background .4s,border .4s,opacity .4s
}
ul{
    margin:auto;
    list-style:disc
}
.m-blog_list_details,.m-blog_outer .m-blog_list_single img,a,button,i,input,textarea{
    transition:all .5s ease-out;
    -moz-transition:all .5s ease-out;
    -webkit-transition:all .5s ease-out;
    -o-transition:all .5s ease-out
}
@font-face{
    font-family:beynoregular;
    src:url(../fonts/beyno-webfont.woff2) format("woff2"),url(../fonts/beyno-webfont.woff) format("woff");
    font-weight:400;
    font-style:normal
}
h3,h4{
    color:#333
}
h3{
    font-size:23px;
    font-weight:600
}
p{
    font-size:14px
}
.m-lg_outer{
    max-width:1800px;
    margin:auto
}
.m-mt90{
    margin-top:90px
}
@media (max-width:991px){
    .container{
        width:100%
    }
    body{
        font-size:13px;
        line-height:20px
    }
}
.m-blog .m-main_slider{
    margin-top:70px;
    min-height:175px;
    background-image:url(../images/service_banner.jpg)
}
@media (max-width:767px){
    .m-blog_listing .m-blog_list_single{
        float:none;
        max-width:450px!important;
        width:100%
    }
    body .m-mt90{
        margin-top:45px
    }
}
.m-blog_outer .m-blog_list_single .m-blog_list_img{
    overflow:hidden
}
.m-contact_info{
    margin:50px -15px 30px
}
.m-contact_info input,.m-contact_info textarea{
    padding:15px;
    background:#f5f5f5;
    color:#696969;
    border:1px solid transparent;
    margin-bottom:25px
}
.m-contact_info input{
    height:45px;
    line-height:45px;
    width:48%;
    font-size:15px
}
.m-contact_info textarea{
    height:150px;
    width:100%;
    font:15px Poppins;
    resize:none
}
button{
    background:#969696;
    border:none;
    font-weight:600;
    text-transform:uppercase;
    color:#FFF;
    padding:12px 30px;
    float:right
}
.m-contact_info p{
    line-height:30px;
    color:#333
}
.m-contact_info input:focus,.m-contact_info textarea:focus{
    background:#FFF
}
@media (min-width:1800px){
    .m-lg_outer{
        margin-right:auto!important;
        margin-left:auto!important
    }
}
.m-breadcrumb{
    bottom:31%;
    left:0;
    position:absolute;
    right:0
}
.m-breadcrumb h3{
    color:#343434;
    font-size:25px
}
.m-breadcrumb a,.m-breadcrumb span{
    font-size:13px;
    position:relative
}
.m-breadcrumb a{
    padding-right:15px
}
.m-breadcrumb a:after{
    content:"\f105";
    display:block;
    position:absolute;
    right:0;
    top:0;
    font-family:fontawesome;
    color:#343434
}
@media (max-width:1400px){
    .m-breadcrumb{
        max-width:1024px
    }
}
@media (min-width:1200px) and (max-width:1360px){
    .m-breadcrumb{
        max-width:960px
    }
}
@media (max-width:1200px){
    .m-breadcrumb{
        position:static
    }
}
.m-blog_list_details .m-blog_list_info a,.m-side_bar form{
    position:relative
}
.m-blog_outer>.row{
    margin:auto -15px
}
.m-blog_outer .m-blog_list_single{
    margin-bottom:30px
}
.m-blog p{
    font-size:13px
}
.m-blog_list_details{
    padding:35px;
    border-top:none;
    background:#f5f5f5
}
.m-blog_list_details .m-blog_list_info{
    font-size:13px;
    margin-bottom:15px
}
.m-blog_list_details .m-blog_list_info a:after{
    content:","
}
.m-blog_list_details .m-blog_list_info a:last-child:after{
    content:""
}
.m-blog_list_details:hover{
    background:#FFF;
    border-color:#eee
}
.m-side_bar>div{
    margin-bottom:30px;
    background:#f5f5f5;
    box-shadow:0 0 3px #dedede;
    -webkit-box-shadow:0 0 3px #dedede;
    padding:15px
}
.m-side_bar h4{
    border-bottom:1px solid #d7d7d7;
    font-size:16px;
    font-weight:600;
    margin-bottom:10px;
    margin-top:0;
    padding-bottom:10px;
    text-transform:uppercase
}
.m-side_bar ul{
    padding-left:12px
}
.m-side_bar ul li{
    font-size:10px;
    line-height:24px;
    list-style:square
}
.m-footer,.m-side_bar ul li a{
    font-size:13px
}
.m-side_bar form input{
    display:block;
    width:100%;
    border:1px solid #e2e2e2;
    padding:12px 20px;
    font-weight:600
}
.m-side_bar form button{
    border:none;
    color:#fff;
    display:inline-block;
    height:40px;
    position:absolute;
    right:5px;
    top:4px;
    width:40px
}
.m-side_bar .m-recent_comments>div{
    margin-bottom:15px;
    font-size:13px
}
.m-side_bar .m-recent_comments>div a{
    font-weight:600
}
.m-side_bar .m-recent_comments>div:last-child{
    margin-bottom:0
}
.m-blog_masonry{
    margin:0 -15px
}
.m-blog_masonry .m-blog_list_details{
    box-shadow:0 19px 65px -63px #000;
    padding:20px
}
@media (max-width:991px){
    .m-blog_outer .m-blog_list_single{
        max-width:870px;
        margin-left:auto;
        margin-right:auto
    }
}
@media (max-width:767px){
    .m-blog_list_details{
        padding:15px
    }
    .m-blog_masonry>div{
        width:auto;
        max-width:370px;
        left:0;
        right:0;
        margin:auto
    }
    .m-contact_info input{
        width:100%
    }
}
.m-footer{
    background:#eee;
    margin-bottom:0;
    padding:10px 0 5px
}
.m-footer p.m-copyright{
    margin:auto
}
.m-social_links>a{
    font-size:22px;
    margin-right:10px
}
.m-msg span{
    display:none
}
.m-msg{
    margin-top:10px
}
a:hover{
    text-decoration:none;
    color:#e72138
}
.m-side_bar form input:focus,input:focus,textarea:focus{
    border-color:#e72138
}
button:hover{
    background:#e72138
}
