a, i, input, textarea, button, .m-blog_outer .m-blog_list_single img, .m-blog_list_details {
    transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
}

@font-face {
    font-family: 'beynoregular';
    src: url("../fonts/beyno-webfont.woff2") format("woff2"), url("../fonts/beyno-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

/*
GENERAL
*/
body {
    background: #ffffff;
    color: #343434;
    font-family: "Poppins", "sans serif";
    line-height: 22px;
    font-size: 15px;
}

h3, h4 {
    color: #333333;
}

a {
    color: #343434;
}

a:hover {
    text-decoration: none;
}

h3 {
    font-size: 23px;
    font-weight: 600;
}

p {
    font-size: 14px;
}

ul {
    list-style: disc;
}

.m-lg_outer {
    max-width: 1800px;
    margin: auto;
}

.m-wrapper {
    position: relative;
}

.m-mt90 {
    margin-top: 90px;
}

@media (max-width: 991px) {

    .container {
        width: 100%;
    }

    body {
        font-size: 13px;
        line-height: 20px;
    }
}

/* HEADER */

.m-lg_outer {
    position: relative;
}

/*t edit*/
.m-blog .m-main_slider {
    margin-top: 70px;
    min-height: 175px;
    background-image: url("../images/service_banner.jpg");
}

/*responsive*/
@media (max-width: 767px) {
    .m-blog_listing .m-blog_list_single {
        float: none;
        max-width: 450px !important;
        width: 100%;
    }

    body .m-mt90 {
        margin-top: 45px;
    }

}

/* SLIDER */
.m-main_slider {
    position: relative;
}

/* HOME PAGE */

.m-blog_outer .m-blog_list_single .m-blog_list_img {
    overflow: hidden;
}

.m-contact_info {
    margin: 50px -15px 30px;
}

.m-contact_info input {
    height: 45px;
    line-height: 45px;
    padding: 15px;
    width: 48%;
    background: #f5f5f5;
    font-size: 15px;
    color: #696969;
    border: 1px solid transparent;
    margin-bottom: 25px;
}

.m-contact_info textarea {
    height: 150px;
    padding: 15px;
    width: 100%;
    background: #f5f5f5;
    font: 15px "Poppins";
    resize: none;
    color: #696969;
    border: 1px solid transparent;
    margin-bottom: 25px;
}

.m-contact_info button {
    background: #969696;
    border: none;
    font-weight: 600;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 12px 30px;
    float: right;
}

.m-contact_info p {
    line-height: 30px;
    color: #333333;
}

.m-contact_info input:focus, .m-contact_info textarea:focus {
    background: #FFFFFF;
}

@media (min-width: 1800px) {
    .m-lg_outer {
        margin-right: auto !important;
        margin-left: auto !important;
    }
}

/* INDEX VARIATIONS */

.m-breadcrumb {
    bottom: 31%;
    left: 0;
    position: absolute;
    right: 0;
}

.m-breadcrumb h3 {
    color: #343434;
    font-size: 25px;
}

.m-breadcrumb a, .m-breadcrumb span {
    font-size: 13px;
    position: relative;
}

.m-breadcrumb a {
    padding-right: 15px;
}

.m-breadcrumb a:after {
    content: "\f105";
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    font-family: fontawesome;
    color: #343434;
}

@media (max-width: 1400px) {
    .m-breadcrumb {
        max-width: 1024px;
    }
}

@media (min-width: 1200px) and (max-width: 1360px) {
    .m-breadcrumb {
        max-width: 960px;
    }
}

@media (max-width: 1200px) {

    .m-breadcrumb {
        position: static;
    }
}

/* TEAM PAGE */
/* PORTFOLIO PAGE */
/* FAQ */
/* ERROR */

/* COMING SOON */
/* BLOG */
.m-blog_outer > .row {
    margin: auto -15px;
}

.m-blog_outer .m-blog_list_single {
    margin-bottom: 30px;
}

.m-blog p {
    font-size: 13px;
}

.m-blog_list_details {
    padding: 35px;
    border-top: none;
    background: #f5f5f5;
}

.m-blog_list_details h3 {
    font-size: 21px;
    margin-top: auto;
}

.m-blog_list_details .m-blog_list_info {
    font-size: 13px;
    margin-bottom: 15px;
}

.m-blog_list_details .m-blog_list_info a {
    position: relative;
}

.m-blog_list_details .m-blog_list_info a:after {
    content: ",";
}

.m-blog_list_details .m-blog_list_info a:last-child:after {
    content: "";
}

.m-blog_list_details:hover {
    background: #FFFFFF;
    border-color: #eeeeee;
}

.m-side_bar > div {
    margin-bottom: 30px;
    background: #f5f5f5;
    box-shadow: 0 0 3px #dedede;
    -webkit-box-shadow: 0 0 3px #dedede;
    padding: 15px;
}

.m-side_bar h4 {
    border-bottom: 1px solid #d7d7d7;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 0;
    padding-bottom: 10px;
    text-transform: uppercase;
}

.m-side_bar ul {
    padding-left: 12px;
}

.m-side_bar ul li {
    font-size: 10px;
    line-height: 24px;
    list-style: square;
}

.m-side_bar ul li a {
    font-size: 13px;
}

.m-side_bar form {
    position: relative;
}

.m-side_bar form input {
    display: block;
    width: 100%;
    border: 1px solid #e2e2e2;
    padding: 12px 20px;
    font-weight: 600;
}

.m-side_bar form button {
    border: medium none;
    color: #ffffff;
    display: inline-block;
    height: 40px;
    position: absolute;
    right: 5px;
    top: 4px;
    width: 40px;
}

.m-side_bar .m-recent_comments > div {
    margin-bottom: 15px;
    font-size: 13px;
}

.m-side_bar .m-recent_comments > div a {
    font-weight: 600;
}

.m-side_bar .m-recent_comments > div:last-child {
    margin-bottom: 0;
}

.m-pagination ul {
    padding: 0;
    list-style: none;
    width: 100%;
    text-align: center;
}

.m-pagination ul li {
    display: inline-block;
    margin: 0 3px;
    text-transform: uppercase;
    text-align: center;
}

.m-pagination ul a {
    font-weight: 600;
    cursor: pointer;
    background: #e2e2e2;
    padding: 10px 20px;
    display: inline-block;
}

.m-pagination ul a:hover {
    color: #FFFFFF;
}

.m-blog_masonry {
    margin: 0 -15px;
}

.m-blog_masonry .m-blog_list_details {
    box-shadow: 0 19px 65px -63px #000;
    padding: 20px;
}

@media (max-width: 991px) {
    .m-pagination {
        margin: 20px 0;
    }

    .m-blog_outer .m-blog_list_single {
        max-width: 870px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 767px) {
    .m-blog_list_details {
        padding: 15px;
    }

    .m-blog_masonry > div {
        width: auto;
        max-width: 370px;
        left: 0;
        right: 0;
        margin: auto;
    }
}

@media (max-width: 479px) {
    .m-pagination ul a {
        padding: 5px 12px;
    }

    .m-pagination ul li {
        margin: 0 2px;
    }
}

/* BLOG SINGLE */

@media (max-width: 767px) {

    .m-contact_info input {
        width: 100%;
    }
}

/* SHOP */
/* FOOTER */
.m-footer {
    margin-bottom: 20px;
    background: #eeeeee;
    padding: 45px 0;
}

.m-footer p.m-copyright {
    margin-top: 35px;
    margin-bottom: 0;
}

/* VARIATION */

.m-footer {
    margin-bottom: 0;
    font-size: 13px;
    padding: 10px 0 5px;
}

.m-footer p.m-copyright {
    margin: auto;
}

.m-social_links > a {
    font-size: 22px;
    margin-right: 10px;
}

.m-msg span {
    display: none;
}

.m-msg {
    margin-top: 10px;
}