*
{
	margin: 0;
	padding: 0;
}

.clear
{
	clear: both;
}
.clearfix::before, .clearfix::after
{
	content: "";
	display: table;
}
.clearfix::after
{
	clear: both;
}



nav ul {
	margin-left:30%;
	margin-top: 10px;
	list-style: none;
	text-align: center;
  }
nav ul li {
	display: inline-block;
  }
nav ul li a {
	display: block;
	padding: 15px;
	text-decoration: none;
	color: #282828;
	font-weight: 700;
	text-transform: capitalize;
	margin: 0 10px;
  }
nav ul li a,
nav ul li a:after,
nav ul li a:before {
	transition: all .3s;
  }
nav ul li a:hover {
	color: hsl(350, 86%, 43%);
  }

/* stroke */
nav ul li a,
nav.fill ul li a {
  position: relative;
}
nav ul li a:after,
nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: hsl(342, 93%, 49%);
  height: 1px;
}
nav ul li a:hover:after {
  width: 100%;
}

/*********************************
1. Header
*********************************/

.header
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 70px;
	z-index: 100;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;

}
.header_inner
{
	width: 100%;
	height: 100%;

}

/*********************************
2. Hamburger
*********************************/

.hamburger_container
{
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	right: 50px;
	width: 26px;
	height: 26px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
	z-index: 4;
}
.hamburger:hover .hamburger_dot
{
	background: 	hsl(325, 100%, 9%);
}

.hamburger
{
	width: 100%;
	height: 100%;
	cursor: pointer;
}
.hamburger_dot
{
	position: absolute;
	width: 6px;
	height: 6px;
	background: hsl(340, 2%, 25%);;
	border-radius: 50%;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.hamburger_dot:first-child
{
	top: 0;
	left: 0;
}
.hamburger_dot:nth-child(2)
{
	top: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}
.hamburger_dot:nth-child(3)
{
	top: 0;
	right: 0;
}
.hamburger_dot:nth-child(4)
{
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	left: 0;
}
.hamburger_dot:nth-child(5)
{
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.hamburger_dot:nth-child(6)
{
	top: 50%;
	right: 0;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.hamburger_dot:nth-child(7)
{
	left: 0;
	bottom: 0;
}
.hamburger_dot:nth-child(8)
{
	bottom: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}
.hamburger_dot:nth-child(9)
{
	bottom: 0;
	right: 0;
}

/*********************************
3. Menu
*********************************/

.fs_menu_overlay
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 999;
	background: rgba(255,255,255,0);
	pointer-events: none;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.fs_menu_container
{
	position: fixed;
	top: -550px;
	right: -1350px;
	width: 1350px;
	height: 1350px;
	background: hsl(342, 93%, 49%);
	z-index: 1000;
	border-radius: 50%;
	-webkit-transition: all 0.5s cubic-bezier(.5,.44,.29,.95);
	-moz-transition: all 0.5s cubic-bezier(.5,.44,.29,.95);
	-ms-transition: all 0.5s cubic-bezier(.5,.44,.29,.95);
	-o-transition: all 0.5s cubic-bezier(.5,.44,.29,.95);
	transition: all 0.3s cubic-bezier(.5,.44,.29,.95);
	box-shadow: 15px 15px 15px rgba(0,0,0,0.2);
}
.fs_close_container
{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 50px;
	right: 50px;
	z-index: 1001;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	cursor: pointer;
}
.fs_close_container i
{
	color: #FFFFFF;
	font-size: 48px;
}
.fs_menu_items
{
	position: fixed;
	top: 130px;
	right: 50px;
	z-index: 1001;
	text-align: right;
}
.fs_menu_items > ul
{
	text-align: right;
	list-style: none;
	margin-bottom: 0px;
}
.fs_menu_items > ul:hover li a
{
	color: rgba(255,255,255,0.4);
}
.fs_menu_items > ul li a
{
	display: block;
	font-size: 48px;
	line-height: 57.6px;
	color: rgba(255,255,255,1);
	letter-spacing: 2px;
	text-decoration: none;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
.fs_menu_items > ul li a:hover
{
	color: rgba(255,255,255,1) !important;
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	-ms-transform: translateX(-20px);
	-o-transform: translateX(-20px);
	transform: translateX(-20px);
	text-decoration: none !important;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
.fs_menu_line
{
	margin-top: 50px;
	width: 100px;
	height: 1px;
	background: #FFFFFF;
	float: right;
	margin-right: 3px;
}
.fs_social
{
	margin-top: 50px;
	text-align: right;
}
.fs_social ul
{
	margin-bottom: 0px;
	display: block;
}
.fs_social ul li
{
	display: inline-block;
	margin-right: 25px;
}
.fs_social ul:hover li a i
{
	color: rgba(255,255,255,0.5);
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.fs_social ul li:last-child
{
	margin-right: 0px;
}
.fs_social ul li a i
{
	color: rgba(255,255,255,1);
	font-size: 24px;
}
.fs_social ul li a i:hover
{
	color: rgba(255,255,255,1);
	transform: translateY(-3px);
}


@media screen and (min-width: 861px) {
	.hamburger_container {
		display: none;
	}
}

@media only screen and (max-width:860px){
	nav ul{
		display: none;
	}
}
@media only screen and (max-width:479px){
	.hamburger_container
	{
		width: 18px;
		height: 18px;
	}
	.hamburger_dot
	{
		width: 4px;
		height: 4px;
	}
}


@media only screen and (max-width: 560px)
{
	.header
	{
		height: 60px;
	}

	 .fs_close_container
	{
		top: 15px;
		right: 15px;
		width: 30px;
		height: 30px;
	}
		.fs_close_container i
	{
		font-size: 30px;
	}
	.fs_menu_items
	{
		top: 75px;
		right: 15px;
	}

	.fs_menu_line
	{
		margin-top: 15px;
		width: 50px;
		height: 1px;
	}

		.fs_social
	{
		margin-top: 18px;
	}
	.fs_social ul li
	{
		margin-right: 18px;
	}
	.fs_social ul li a i
	{
		font-size: 18px;
	}
	.fs_menu_items > ul li a
	{
		display: block;
		font-size: 34px;
		line-height: 2;
	}
}

@media only screen and (max-height : 602px){
	.fs_menu_items > ul li a
	{
		font-size: 29px;
		line-height: 1.6;
	}
}
@media only screen and (max-height : 480px)
{

	.fs_menu_items > ul li a
	{
		font-size: 24px;
		line-height: 1.8;
	}

}


@media only screen and (max-width: 1100px){
	nav ul {
		margin-left:8%;
	}
}
