<!DOCTYPE html>
<html>

<head>
    <!-- PAGE TITLE -->
    <title>1325 | Blog</title>

    <!-- META-DATA -->
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <!-- CSS:: FONTS -->
    <link rel="stylesheet" type="text/css" href="{{domain}}assets/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins:400,500,600,700' rel='stylesheet' type='text/css'>

    <!-- CSS:: BOOTSTRAP -->
    <link rel="stylesheet" type="text/css" href="{{domain}}assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{domain}}assets/css/nav.css">
    <link rel="stylesheet" type="text/css" href="{{domain}}assets/css/main.css">

        <link rel="stylesheet" type="text/css" href="{{domain}}assets/css/admin/admin.css">


</head>

<body>

    <!-- Header -->

    <header class="header">
        <div class="header_inner">
            <nav>
                <ul>
                    <li>
                        <a href="index.html" class="text-menu-font">Acceuill</a>
                    </li>
                    <li>
                        <a href="#" class="text-menu-font">Initiative</a>
                    </li>
                    <li>
                        <a href="#" class="text-menu-font">Formation</a>
                    </li>
                    <li>
                        <a href="#" class="text-menu-font">Séminaire</a>
                    </li>
                    <li>
                        <a href="#" class="text-menu-font">Table Ronde</a>
                    </li>
                    <li>
                        <a href="#" class="text-menu-font">Activité</a>
                    </li>

                </ul>
            </nav>
        </div>
    </header>

    



    <div class="m-wrapper m-blog" id="m-wrapper">
        <div class="m-main_slider">
            <div class="container m-breadcrumb">
                <h3>Blog</h3>
                <div class="m-bread_links">
                    <a href="http://localost">HOME</a>
                    <span>Accueill</span>
                </div>
            </div>
        </div>
        <div class="container m-mt90 m-blog_outer">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                    <div class="parent">
                            <div class="ball"></div>
                            <h6>Chargement en cours ...</h6>
                    </div>
                    <div class="m-blog_listing m-blog_masonry clearfix">
                    </div>
                    <div class="m-pagination" style="margin-bottom:30px;">
                        <ul>
                            <li>
                                <a href="javascript: void(0)" class="fa fa-arrow-left"></a>
                            </li>
                            {% for i in 1 .. numPages %}
                            <li>
                                <a href="#" class="nav" id="{{i}}">{{i}}</a>
                            </li>
                            {% endfor %}
                            <li>
                                <a href="javascript: void(0)" class="fa fa-arrow-right"></a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 m-side_bar">
                    <div class="m-sidebar_single">
                        <form action="#">
                            <input type="text" placeholder="Chercher">
                            <button>
                                <i class="fa fa-search"></i>
                            </button>
                        </form>
                    </div>
                    <div class="m-sidebar_single">
                        <h4>post récents</h4>
                        <ul>
                            {%for article in articles%}
                            <li>
                                <a href="javascript: void(0)">{{article.nom}}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="m-sidebar_single">
                        <h4>ARCHIVES</h4>
                        <ul>
                            <li>
                                <a href="#">Janvier 2017</a>
                            </li>
                            <li>
                                <a href="#">Févrièr 2017</a>
                            </li>
                            <li>
                                <a href="#">Mars 2017</a>
                            </li>
                            <li>
                                <a href="#">Avril 2017</a>
                            </li>
                            <li>
                                <a href="#">May 2017</a>
                            </li>
                            <li>
                                <a href="#">Juin 2017</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <section id="m-contact">
            <div class="container">
                <div class="m-contact_info clearfix">

                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 pull-right">
                        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 pull-right">
                            <h4>Trouvez nous sur </h4>
                            <div class="m-social_links">
                                <a href="#" class="fa fa-facebook" aria-hidden="true"></a>
                                <a href="#" class="fa fa-twitter" aria-hidden="true"></a>
                                <a href="#" class="fa fa-youtube" aria-hidden="true"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer id="m-footer">
            <div class="m-lg_outer m-footer m-mt90" style="margin-top: 60px;">
                <div class="container text-right">
                    <p class="m-copyright"> 2018 All rights reserved for AlphaSolutions &copy;</p>
                </div>
            </div>
        </footer>
        
        {% if isAdmin == "true" %}

        <div class="parent2">
            <div class="logout">
                <a href="http://localhost/logout">
                    <i class="fa fa-sign-out fa-2x"></i>
                </a>
            </div>
            <div class="med">
                <a href="http://localhost/medias">
                    <i class="fa fa-film fa-2x"></i>
                </a>
            </div>
            <div class="new">
                <a href="http://localhost/new">
                    <i class="fa fa-pencil-square-o fa-2x"></i>
                </a>
            </div>
            <div class="upload">
                <a href="http://localhost/upload">
                    <i class="fa fa-plus fa-2x"></i>
                </a>
            </div>

            <div class="mask2">
                <i class="fa fa-user fa-3x"></i>
            </div>
        </div>
        
        {% endif %}

        <script type="text/javascript" src="{{domain}}assets/js/jquery-3.2.1.min.js"></script>

        <!-- Navigation srcipts -->
        <script type="text/javascript" src="{{domain}}assets/js/TweenMax.min.js"></script>
        <script type="text/javascript" src="{{domain}}assets/js/ScrollMagic.min.js"></script>
        <script type="text/javascript" src="{{domain}}assets/js/miniNav.js"></script>
        
        <!-- home http requests -->
         <script type="text/javascript" src="{{domain}}assets/js/home.js"></script>

        {% if isAdmin == "true" %}
            <script type="text/javascript" src="{{domain}}assets/js/admin/admin.js"></script> 
        {% endif %}

</body>

</html>