<!DOCTYPE html>
<html>

<head>
    <!-- PAGE TITLE -->
    <title>1325 | Blog</title>

    <!-- META-DATA -->
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <!-- CSS:: FONTS -->
    <link rel="stylesheet" type="text/css" href="src/assets/css/font-awesome.min.css">
    <!--<link href='https://fonts.googleapis.com/css?family=Poppins:400,500,600,700' rel='stylesheet' type='text/css'>-->

    <!-- CSS:: BOOTSTRAP -->
    <link rel="stylesheet" type="text/css" href="src/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="src/assets/css/main.css">

</head>

<body>
    <div class="m-wrapper m-blog" id="m-wrapper">
        <div class="m-main_slider">
            <div class="container m-breadcrumb">
                <h3>Blog</h3>
                <div class="m-bread_links">
                    <a href="../src/index.html">TWPS</a>
                    <span>Accueill</pan>
                </div>
            </div>
        </div>
        <div class="container m-mt90 m-blog_outer">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                    <div class="m-blog_listing m-blog_masonry clearfix">
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 m-blog_list_single">
                        <div class="m-blog_list_img">
                          <img src="src/assets/images/blog_list_01.jpg" class="img-responsive" alt="">
                        </div>
                        <div class="m-blog_list_details">
                          <h3>
                            <a href="blog_single.html">BLOG TITLE 01</a>
                          </h3>
                          <div class="m-blog_list_info">
                            <span>on: 12-05-2017</span> /
                            <span>in:
                              <a href="#">design</a>
                            </span>
                          </div>
                          <p>
                            The future of development constantly evolves as society grows and adopts different technologies. The introduction of more
                            technologies allows for a the greater opportunity for creativity and innovation...
                          </p>
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 m-blog_list_single">
                        <div class="m-blog_list_img">
                          <img src="src/assets/images/blog_list_02.jpg" class="img-responsive" alt="">
                        </div>
                        <div class="m-blog_list_details">
                          <h3>
                            <a href="blog_single.html">BLOG TITLE 02</a>
                          </h3>
                          <div class="m-blog_list_info">
                            <span>on: 12-05-2017</span> /
                            <span>in:
                              <a href="#">design</a>
                            </span>
                          </div>
                          <p>
                            The future of development constantly evolves as society grows and adopts different technologies. The introduction of more
                            technologies allows for a the greater opportunity for creativity and innovation...
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="m-pagination">
                      <ul>
                        <li>
                          <a href="#" class = "fa fa-arrow-left"></a>
                        </li>
                        <li>
                          <a href="#">1</a>
                        </li>
                        <li>
                          <a href="#">2</a>
                        </li>
                        <li>
                          <a href="#">3</a>
                        </li>
                        <li>
                          <a href="#" class = "fa fa-arrow-right"></a>
                        </li>
                      </ul>
                    </div>
                  </div>

                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 m-side_bar">
                    <div class="m-sidebar_single">
                        <form action="#">
                            <input type="text" placeholder="Chercher">
                            <button>
                                <i class="fa fa-search"></i>
                            </button>
                        </form>
                    </div>
                    <div class="m-sidebar_single">
                        <h4>post récents</h4>
                        <ul>
                            {%for article in articles%}
                            <li>
                                <a href="#">{{article.nom}}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="m-sidebar_single">
                        <h4>ARCHIVES</h4>
                        <ul>
                            <li>
                                <a href="#">Janvier 2017</a>
                            </li>
                            <li>
                                <a href="#">Févrièr 2017</a>
                            </li>
                            <li>
                                <a href="#">Mars 2017</a>
                            </li>
                            <li>
                                <a href="#">Avril 2017</a>
                            </li>
                            <li>
                                <a href="#">May 2017</a>
                            </li>
                            <li>
                                <a href="#">Juin 2017</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <section id="m-contact">
            <div class="container">
                <div class="m-contact_info clearfix">

                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 pull-right">
                        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 pull-right">
                            <h4>Trouvez nous sur </h4>
                            <div class="m-social_links">
                                <a href="#" class="fa fa-facebook" aria-hidden="true"></a>
                                <a href="#" class="fa fa-twitter" aria-hidden="true"></a>
                                <a href="#" class="fa fa-youtube" aria-hidden="true"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer id="m-footer">
            <div class="m-lg_outer m-footer m-mt90" style="margin-top: 60px;">
                <div class="container text-right">
                    <p class="m-copyright"> 2018 All rights reserved for AlphaSolutions &copy;</p>
                </div>
            </div>
        </footer>
    </div>


    <script type="text/javascript" src="src/assets/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="src/assets/js/admin/admin.js"></script> 

</body>

</html>